@import url(./media.css);

.bg-battlenet {
  background-color: #15171e;
}

.bg-menuitem-last {
  background-color: #2b2b2b !important;
  border-radius: unset !important;
}

.w-200 {
  width: 200px;
}
.w-264 {
  width: 280px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.p-16 {
  padding: 0px 16px;
}

.h-72 {
  height: 72px;
}

.h-56 {
  height: 56px;
}

.list-unstyled li {
  height: 80%;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.list-unstyled li:hover {
  background-color: #313236da;
}

.p-12 {
  padding: 12px;
}

.col-12 .dropdown a,
.col-12 .dropdown li:nth-of-type(1) {
  padding: 16px 12px;
}

.col-12 .dropdown-item:hover {
  background-color: rgba(128, 128, 128, 0.475) !important;
  border-radius: 8px;
  color: white !important;
  transition: 300ms;
}

.dropdown .left-p1:hover {
  background-color: #303237;
  color: white !important;
  overflow: hidden !important;
}

.parent-left-p2:hover {
  background-color: #303237 !important;
  & input::placeholder {
    color: white !important;
  }
}

.parent-left-p3:hover {
  background-color: #303237 !important;
  height: 56px !important;
  transition: 300ms;
  .left-p3:hover {
    color: white !important;
  }
}

.col-11 .dropdown-menu {
  width: 320px !important;
  transform: translate(-40px, 70px) !important;
  box-shadow: unset !important;
}

.dropdown-item span {
  font-size: 14px !important;
}

.dropdown .dropSub:nth-of-type(2) li a {
  padding: 0px 12px !important;
  height: 48px !important;
  display: block !important;
  line-height: 48px !important;
}

input {
  outline: unset;
  font-size: 16px !important;
  color: white;
}


.line-56 {
  line-height: 56px;
}

.w-62 {
  width: 63%;
}
.w-345{
  width: 345px;
}

.w-180{
  width: 180px;
}
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.c-lgray {
  color: lightgray;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.dropdown-menu .warcraft-item:hover {
  background-color: #303237 !important;
  border-radius: 4px;
  & span .c-lgray{
    color: white !important;
  }
}


.p-all {
  padding: 10px 20px 10px 20px;
}

.h-36{
  height: 36px;
}

.lh-36{
  line-height: 36px;
}
.search-input:focus {
  outline: none !important; 
  box-shadow: none !important; 
  border: none !important; 
}

.search-input::placeholder {
  color: #d3d3d3; 
}

.search-input {
  color: white !important; 
}

.clear-btn {
  color: white !important; 
  font-size: 25px; 
  font-weight: 700;
  cursor: pointer;
}

.w-300{
  width: 320px;
}

.p-16-12{
  padding: 0px 12px;
}

.w-528{
  width: 528px;
}

.flex{
  display: flex;
}

.grid-t-c-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.w-251{
  width: 251px;
}

.w-35{
  width: 35px !important;
}

.h-35{
  height: 35px !important;
}

.p-l-r-2{
  padding: 0px 2px;
}

.pb-16{
  padding-bottom: 16px;
}

.h-25{
  height: 25px !important;
}

.w-25{
  width: 25px !important;
}

.ml-10{
  margin-left: 10px;
}

.w-230{
  width: 230px;
}

.wh-6{
  width: 16px;
  height: 16px;
}

.h-394{
  height: 394px;
}


.h-80{
  height: 80px;
}

.w-40{
  width: 40px;
}

.h-48{
height: 48px;

}

.w-288{
  width: 288px;
}

.h-90{
  height: 90px;
}

.px-40{
  padding-left: 40px;
  padding-right: 40px;
}

.h-360{
  height: 360px;
}

.w-320{
  width: 320px;
}

.h-54{
  height: 54px;
}


.w-241{
  width: 241px;
}

.h-150{
  height: 150px;
}

.py-64{
  padding-top: 64px;
  padding-bottom: 64px;

}

.fs-12{
  font-size: 12px;
}

.w-24{
  width: 24px;
}

.h-24{
  height: 24px;
}

.lh-24{
  line-height: 24px;
}


.h-267{
  height: 267px;
}


.h-161-41{
  height: 161.41px;
}

.card-body {
  transition: background-color 0.3s ease-in-out;
}

.card-body > * {
  transition: transform 0.3s ease-in-out;
}

.card-body:hover {
  background-color: #2c2c2c; /* یا هر رنگ روشن‌تری از رنگ فعلی */
}

.card-body:hover > * {
  transform: translateY(-5px);
}


.w-49{
  width: 49px;
}